<table class="table table-bordered m-1">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Branch Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let branch of BranchList">
        <th scope="row"><input type="number" [value]="branch.id" #Id [disabled]="true"></th>
        <td><input type="text" [value]="branch.BranchName" #BName [disabled]="true"></td>
        <td *ngIf="allow === 'SuperAdmin' || allow ==='Admin'"><button class="btn btn-primary"
            (click)="onEdit(Id, BName)">Edit</button></td>
        <td *ngIf="allow === 'SuperAdmin' || allow ==='Admin'"><button class="btn btn-success"
              (click)="onUpdate(Id, BName)">Save</button></td>
        <td *ngIf="allow === 'SuperAdmin'"><button class="btn btn-danger" (click)="onDelete(branch)" [disabled]="!Id.disabled">Delete</button></td>
    </tr>
  </tbody>
</table>