<!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu" *ngFor="let fav of favList">
      <li>{{fav}}</li>
    </ul>
  </div> -->

  <div class="nav-item" style="margin-top: 1rem; display: flex; margin-left: 50rem; " >
    <div style="justify-content: flex-end;">
    <p class="d-inline-flex gap-1" style="z-index: 2;">
      <button class="btn text-light"  style="background-color: rgb(235, 110, 170);" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-star"></i>  Favorite
      </button>
    </p>
    <div class="collapse" id="collapseExample" *ngIf="favList.length!==0">
      <div class="card card-body" *ngIf="favList.length!==0" >
         <div *ngFor="let fav of favList let i=index"><a routerLink="./companyDetail" class="nav-link text-dark">{{ i+1+" | "+fav }}</a></div>
      </div>
    </div>
  </div>
  </div>
 