
<!--Navbar -->
<nav class="navbar navbar-expand-lg  bg-light ">
    <div class="container-fluid">
      <div>
        <a class="navbar-brand" [routerLink]="['/home',user.user]"><img src="/assets/img/logo.png" style="height: 3.5rem;" alt="brain payroll">Brain Payroll</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse d-flex" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item"  routerLinkActive="active"  >
            <a class="nav-link active" aria-current="page"
            routerLink="./employee"
            queryParamsHandling="merge"
            >Employee</a>
          </li>
          <li class="nav-item"  routerLinkActive="active"  >
            <a class="nav-link"
            routerLink="./company"
            queryParamsHandling="merge">Company</a>
          </li>
          <li class="nav-item"  routerLinkActive="active"  >
            <a class="nav-link" routerLink="./branches"
            queryParamsHandling="merge">Branches</a>
          </li>
          
          <li class="nav-item"><button  (click)="logout()"> <a class="nav-link"  routerLinkActive="active"> <strong>{{ user.user +" | "}} </strong>Log out</a></button></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!--/.Navbar -->
  <router-outlet></router-outlet>
  
  <div id="loading-test-5 overlay" style="height: 300px; width: 100%;" *ngIf="showLoader">
    <div class="loading" data-mdb-parent-selector="#loading-test-5">
      <div class="fas fa-spinner fa-spin fa-2x"></div>
      <span class="loading-text">Loading...</span>
    </div>
  </div>