
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Company Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of CompanyList">
        <th scope="row">{{company.id}}</th>
        <td>{{company.CompanyName}}</td>
        <td *ngIf="allow === 'SuperAdmin' || allow ==='Admin'"><button class="btn btn-success">Edit</button></td>
        <td *ngIf="allow === 'SuperAdmin'"><button class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
