
<div *ngIf="whichForm==='employee'" class="form">
    <!-- Add Employee Form -->
<form class="text-center border border-light p-5 shadow  mb-5 bg-body rounded mx-auto mt-5" 
style="width:50rem; background-color: rgb(0, 0, 0);"
[formGroup]="AddEmployee" (ngSubmit)="onAdd(whichForm)">

  <p class="h3 mb-4">Employee Details</p>

  <!-- Name -->
  <input type="text" 
  id="defaultContactFormName" class="form-control mb-3" 
  placeholder="Enter Employee Name"
  formControlName="EmployeeName"
[value]="!editEmployeeData.EmployeeName"
 >
  <div class="d-flex float-left mb-2">
    <span *ngIf="AddEmployee.get('EmployeeName').touched && !AddEmployee.get('EmployeeName').valid">Please Enter Employee Name !</span>
  </div>
  
  <!--Comapny in which he/she work -->
  <input type="text"
   id="defaultContactFormEmail" class="form-control mb-4" 
   placeholder="Enter Company Name"
   formControlName="CompanyName"
  [value]="!editEmployeeData.CompanyName">
   <div class="d-flex float-left mb-2">
    <span *ngIf="AddEmployee.get('CompanyName').touched && !AddEmployee.get('CompanyName').valid">Please Enter Company Name !</span>
  </div>
  <!-- Branch Name in which he.she is -->
  <input type="text" 
  id="defaultContactFormEmail" class="form-control mb-4" 
  placeholder="Enter Branch Name"
  formControlName="BranchName"
  [value]="!editEmployeeData.BranchName">
  <!-- Gender -->
  <div class="custom-control custom-radio mb-4">
    <div class="d-flex float-left" >
      <input type="radio" class="custom-control-input  m-1" id="male" name="Gender"  value="Male" formControlName="Gender">
      <label class="custom-control-label p-1" for="male">Male</label>
      <input type="radio" class="custom-control-input  m-1" id="female" name="Gender" checked  value="Female" formControlName="Gender">
      <label class="custom-control-label  p-1" for="female">Female</label>

      <!-- alert for valid data -->
      <div class="d-flex float-right">
        <span *ngIf="AddEmployee.get('Gender').touched &&!AddEmployee.get('Gender').valid">Please choose Employees' Gender !</span>
      </div>

    </div>
  </div>
  <!-- Select Position ---->
  <div>
    <div class="d-flex float-left">
          <select class="browser-default custom-select mb-4 p-2" style="width: 45rem;" formControlName="Position">
              <option value="" disabled selected >Select Position</option>
              <option value="" disabled *ngIf="AddEmployee.get('Position').touched&& !AddEmployee.get('Position').valid" selected [value]="!editEmployeeData.Position">
                    Please Select Position!
              </option>
              <option value="junior">junior</option>
              <option value="senior">senior</option>
              <option value="new Joinee">new Joinee</option>
              <option value="leaved">leaved</option>
          </select>
        </div>
  </div>


 
  <div class="custom-control custom-date d-flex mb-4" >
    <div class="d-flex float-left ">
      <input type="date" placeholder="Enter Birth Date" formControlName="BirthDate" [value]="!editEmployeeData.BirthDate">
    </div>
    <div class="d-flex float-right m-2">
      <span *ngIf="AddEmployee.get('BirthDate').touched && !AddEmployee.get('BirthDate').dirty">Please Enter Birth Date!</span>
    </div>
  </div>
   
  <!-- Send button -->
  <div class="d-flex gap-3">

    <button class="btn btn-danger btn-block text-light" type="button" style="width: 22rem; font-size: 1.2rem;" (click)="OnCancel()" >Cancel</button>
    <button class="btn btn-info btn-block text-light" type="submit" style="width: 22rem; font-size: 1.2rem;">
      {{ !this.add_edit ? 'add':'edit'}}</button>
  </div>
  
</form>

<!--  Default form contact  -->
</div>

<div *ngIf="whichForm==='company'">
        <form class="text-center border border-light p-5 shadow  mb-5 bg-body rounded mx-auto mt-5" 
        style="width:50rem; background-color: rgb(0, 0, 0);"
        [formGroup]="AddCompany" (ngSubmit)="onAdd(whichForm)">
        
          <p class="h3 mb-4">Company Details</p>
          
          <!--Comapny in which he/she work -->
          <input type="text"
          id="defaultContactFormEmail" class="form-control mb-4" 
          placeholder="Enter Company Name"
          formControlName="CompanyName" >
          <div class="d-flex float-left mb-2">
            <span *ngIf="AddCompany.get('CompanyName').touched && !AddCompany.get('CompanyName').valid">Please Enter Company Name !</span>
          </div>
          <!-- Send button -->
          <div class="d-flex gap-3">

            <button class="btn btn-danger btn-block text-light" type="button" style="width: 22rem; font-size: 1.2rem;" (click)="OnCancel()" >Cancel</button>
            <button class="btn btn-info btn-block text-light" type="submit" style="width: 22rem; font-size: 1.2rem;">
              {{ !this.add_edit ? 'add':'edit'}}</button>
              
          </div>
          
        </form>
</div>

<div *ngIf="whichForm==='branches'">
  <form class="text-center border border-light p-5 shadow  mb-5 bg-body rounded mx-auto mt-5" 
  style="width:50rem; background-color: rgb(0, 0, 0);"
  [formGroup]="AddBranch" (ngSubmit)="onAdd(whichForm)">
  
    <p class="h3 mb-4">Branch Details</p>
    
    <!--Comapny in which he/she work -->
    <input type="text"
    id="defaultContactFormEmail" class="form-control mb-4" 
    placeholder="Enter Branch Name"
    formControlName="BranchName">
    <div class="d-flex float-left mb-2">
      <span *ngIf="AddCompany.get('BranchName').touched && !AddCompany.get('BranchName').valid">Please Enter Branch Name !</span>
    </div>
    <!-- Send button -->
    <button class="btn btn-info btn-block text-light" type="submit" style="width: 44rem; font-size: 1.2rem;">Add Branch</button>
    
  </form>
</div>


